/*/bin/
/*/build/
/*/docs/
/*/etc/
/*/lib/
/*/.*.install
*.orig
!/ant/bin/
!/ant/docs/
!/ant/etc/
!/ant/lib/
!/axis/docs/
!/jetty/docs/
!/jsamp/docs/
!/junit/docs/
!/src/docs/
!/src/etc/
*.dvi
*.log
*.aux
*~
*.toc
splat/src/docs/sun243.pdf
ttools/src/downloads/*.jar
