.example { 
    background:#ccccff 
}

.xml {
    background:#eeeeee 
}

.java {
    background:#eeeeee 
}

body { 
    background-color:#FFFFFF; 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    margin-left: 40px;
    color:#000000
}

h2 {
    text-decoration: underline; 
    background-color: #DCE1FF; 
    background-position: left; 
    margin-left: -30px}
    
h3 {
    margin-left: -10px
}

h1 {
    margin-left: -30px
}

.note { 
    font-weight:bold;  
}

.head { 
    font-weight:bold; 
    font-size: 240%; 
    text-align: center; 
}

td.section { 
    background-color: #82ADF6; 
    font-size: 180%; 
    text-align: center; 
    font-weight: bold; 
}

small.red { 
    color: red 
}


